* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

.wrapper {
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 100%;
  height: 455px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ebf0fa;
  margin: 36px 40px;
  border-radius: 10px;
}

.container__text-section {
  width: 511px;
  height: 250px;
  margin-left: 72px;
}

.container__img-wrapper {
  width: 50%;
  height: 455px;
}

.container__img-wrapper img {
  width: 100%;
  max-width: 910px;
  height: 455px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.container__heading {
  color: #1f4284;
  font-size: 30px;
  font-weight: 500;
}

.container__text {
  margin-top: 25px;
  color: #727272;
  font-weight: 400;
  font-size: 17px;
  line-height: 160%;
}

.container__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  color: #fff;
  background-color: #244c98;
  outline: 0;
  border: none;
  cursor: pointer;
  margin-top: 34px;
  border-radius: 60px;
  width: 341px;
  height: 68px;
}

.container__button p {
  margin-left: 26px;
}

.container__button img {
  margin-right: 12px;
}

.modal {
  position: absolute;
  width: 500px;
  height: 575px;
  background-color: #f0f4fc;
}

@media only screen and (max-width: 768px) {
  .container {
    height: 591px;
    margin: 24px 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container__text-section {
    padding: 12px;
    margin-left: 50px;
    width: 100%;
  }
  .container__heading {
    margin-top: 15px;
    font-size: 20px;
  }
  .container__text {
    margin-top: 22px;
    max-width: 641px;
    font-size: 15px;
  }
  .container__button {
    margin-top: 22px;
    width: 261px;
    height: 56px;
  }
  .container__button p {
    margin-left: 18px;
    font-size: 15px;
  }
  .container__button img {
    width: 36px;
  }
  .container__img-wrapper {
    margin-top: 12px;
    width: 100%;
  }
  .container__img-wrapper img {
    max-width: 720px;
    height: 360px;
  }
}

@media only screen and (max-width: 375px) {
  .container {
    height: 482px;
    margin: 14px 24px;
  }
  .container__heading {
    font-size: 17px;
  }
  .container__text-section {
    margin-top: 10px;
    max-width: 375px;
    padding: 0;
  }
  .container__text {
    margin-top: 17px;
    width: 279px;
    font-size: 13px;
  }
  .container__button {
    margin-top: 19px;
    width: 279px;
  }
  .container__button img {
    margin-right: 9px;
  }
  .container__img-wrapper {
    margin-top: 45px;
    width: 100%;
  }
  .container__img-wrapper img {
    max-width: 328px;
    height: 220px;
    height: 167px;
  }
}
/*# sourceMappingURL=index.css.map */