* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

.wrapper {
  max-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 455px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ebf0fa;
  margin: 36px 40px;
  border-radius: 10px;

  &__text-section {
    width: 511px;
    height: 250px;
    margin-left: 72px;
  }

  &__img-wrapper {
    width: 50%;
    height: 455px;

    & img {
      width: 100%;
      max-width: 910px;
      height: 455px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  &__heading {
    color: #1f4284;
    font-size: 30px;
    font-weight: 500;
  }

  &__text {
    margin-top: 25px;
    color: #727272;
    font-weight: 400;
    font-size: 17px;
    line-height: 160%;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    color: #fff;
    background-color: #244c98;
    outline: 0;
    border: none;
    cursor: pointer;
    margin-top: 34px;
    border-radius: 60px;
    width: 341px;
    height: 68px;

    & p {
      margin-left: 26px;
    }

    & img {
      margin-right: 12px;
    }
  }
}

.modal {
  position: absolute;
  width: 500px;
  height: 575px;
  background-color: #f0f4fc;
}

@media only screen and (max-width: 768px) {
  .container {
    height: 591px;
    margin: 24px 40px;
    flex-direction: column;

    &__text-section {
      padding: 12px;
      margin-left: 50px;
      width: 100%;
    }

    &__heading {
      margin-top: 15px;
      font-size: 20px;
    }

    &__text {
      margin-top: 22px;
      max-width: 641px;
      font-size: 15px;
    }

    &__button {
      margin-top: 22px;
      width: 261px;
      height: 56px;

      & p {
        margin-left: 18px;
        font-size: 15px;
      }

      & img {
        width: 36px;
      }
    }

    &__img-wrapper {
      margin-top: 12px;
      width: 100%;

      & img {
        max-width: 720px;
        height: 360px;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .container {
    height: 482px;
    margin: 14px 24px;

    &__heading {
      font-size: 17px;
    }

    &__text-section {
      margin-top: 10px;
      max-width: 375px;
      padding: 0;
    }

    &__text {
      margin-top: 17px;
      width: 279px;
      font-size: 13px;
    }

    &__button {
      margin-top: 19px;
      width: 279px;

      & img {
        margin-right: 9px;
      }
    }

    &__img-wrapper {
      margin-top: 45px;
      width: 100%;

      & img {
        max-width: 328px;
        height: 220px;
        height: 167px;
      }
    }
  }
}
